<a href="/math">
<div class="col-12 index_image">
    <img class="select_subject" src="<%=asset_path 'select_subject.png' %>"></img>
    <div class="char">
      <p>단원 선택</p>
    </div>
</div>
</a>
<div class="line col-12">
</div>
<a href="#">
<div class="col-12 index_image">
    <img class="report" src="<%=asset_path 'report.png' %>"></img>
    <div class="char">
      <p>분석 레포트</p>
    </div>
</div>
</a>
<!-- <%= current_user.name %>
<%= link_to("로그아웃",logout_path,method: :delete)%> -->
