<div class="container">

  <div id="splash_bg">
  <div id="splash" class="splash" style="padding-top: 150px;">
      <!-- <div class="col-xs-4"><img class="" src="<%=asset_path '1.jpg' %>" style="max-width: 100%;"></img></div>
      <div class="col-xs-4"><img class="spinner_s" src="<%=asset_path 'pie.png'%>"style="max-width: 100%;"></img></div>
      <div class="col-xs-4"><img class="" src="<%=asset_path '2.jpg'%>"style="max-width: 100%;"></img></div> -->
      <img class="spinner_s" src="<%=asset_path 'inspiere.png'%>" width="100%"></img>
      <!--<h1 class="spinner_s1" >PRODUCE<br>LION</h1><br>-->
      <h3 id="fadein" style="margin-top: 100px;">대한민국 교육의 미래<br>와이</h1>
  </div>
</div>


<script type="text/javascript">
            $('#splash').ready()
            {
                $('#main').load('splash');
                setTimeout(function() {
                    $('#main').ready(function() {
                        $('#splash').remove();
                        window.location.href = "/login";
                    });
                }, 6000);
            };
</script>

</div>
