<table border="1">
  <thead>
    <th>문항 번호</th>
    <th>정답</th>
    <th>해설 보기</th>
  </thead>
  <tbody>
    <% @fdata.each_with_index do |d,index|%>
    <tr>
      <td>
        <%= index+1%>
      </td>
      <td>
        <%= d.correct %>
      </td>
      <td>
        <a href="#">해설</a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<table border="1">
  <thead>
    <th>유형</th>
    <th>틀린 문제 수 * 난이도</th>
  </thead>
  <tbody>
    <% @sdata.keys.each do |key|%>
    <tr>
      <td>
        <%= key %>
      </td>
      <td>
        <%= @sdata[key]%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if action_name=="report" %>
  <a href="/math/select">오답분석문제</a>
<% else %>
  <a href="/home/index">메인페이지 가기</a>
<% end %>
